/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}
* {
  box-sizing: border-box;
}
body {
  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}
section {
  max-width: 90vw;
}
a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

/* UI Event Classes */

/* Jump animation on the interaction link */
a:nth-of-type(12) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Jouw animaties */
/* Animatie 1 */
a:first-child {
  position: relative;
  background: orange;
  color: var(--secondary);
  border-color: var(--secondary);
}

.shake {
  animation-name: shake;
  animation-timing-function: cubic-bezier(0.15, 0.67, 0.38, 1);
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: scale(1.1) rotate(5deg);
  }
  20% {
    transform: scale(1.2) rotate(-5deg);
  }
  40% {
    transform: scale(1.2) rotate(5deg);
  }
  60% {
    transform: scale(1.2) rotate(-5deg);
  }
  80% {
    transform: scale(1.1) rotate(5deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}


/* Animatie 2 */
a:nth-of-type(2) {
  position: relative;
  background: #fffc86;
  color: var(--secondary);
  border-color: var(--secondary);
}

.zoom {
  animation-name: zoom;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-duration: 0.7s;
  animation-iteration-count: 1;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100%{
    transform: scale(1);
  }
}


/* Animatie 3 */
a:nth-of-type(3) {
  position: relative;
  background: #66e5bf;
  color: var(--secondary);
  border-color: var(--secondary);
}

.rotation {
  animation-name: rotation;
  animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

/* Animatie 4 */
a:nth-of-type(4) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.bounce {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem)
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem)
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Animatie 5 */
a:nth-of-type(5) {
  position: relative;
  background: orange;
  color: var(--secondary);
  border-color: var(--secondary);
}

.colorchange {
  animation-name: colorchange;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes colorchange {
  25% {
    background-color: #fffc86;
  }
  50% {
    background-color: #66e5bf;
  }
  75% {
    background-color: var(--highlight-secondary);
  }
  100% {
    background-color: orange;
  }
}

/* Animatie 6 */
a:nth-of-type(6) {
  position: relative;
  background: #fffc86;
  color: var(--secondary);
  border-color: var(--secondary);
}

.swoosh {
  animation-name: swoosh;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes swoosh {
  20% {
    transform: scale(1.5) translateX(-8rem) translateY(8rem);
  }
  40% {
    transform: scale(3) translateX(0rem) translateY(8rem);
  }
  60% {
    transform: scale(2) translateX(4rem) translateX(7rem);
  }
  80% {
    transform: scale(1.4) translateX(0rem) translateX(0rem);
  }
  100% {
    transform: scale(1);
  }
}